* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #151212;
}


header {
    background-color: #377cd6;
    color: #dedfe6;
    padding: 1rem;
    text-align: center;
}
.header-bg{
    background-color: #0b6fe1;
}
.logo{
    width: 100px;
    height: auto;
    margin-right: 10px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #ebe3e3;
    text-decoration: none;
}


section {
    padding: 2rem;
    margin-bottom: 20px;
    background-color: #f7f3f3;
    border-radius: 2px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

section h2 {
    margin-bottom: 1rem;
}

section ul {
    list-style-type: disc;
    padding-left: 20px;
}
.custom-img{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    max-width: 1200px;
}
.custom-img-left{
    max-width: 1200px;
    float: left;
    margin-right: 1200px;
}


footer {
    background-color: #fffcfc;
    color: #000000;
    padding: 1rem;
    text-align: center;
}

footer img {
    max-width: 50%;
    height: auto;
    margin-top: 20px;
}